.textbox-container {
    margin-bottom: 10px;
}

body {
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #E3F2FD; /* Light Blue 50 */
    color: #212121; /* Dark Grey */
}

h1 {
    color: #01579B; /* Light Blue 900 */
    margin: 5px 0px;
    float: left;
}

button {
    display: inline-block;
    padding: 20px;
    width: 100%;
    background-color: #0288D1; /* Light Blue 700 */
    color: #FFFFFF; /* White */
    text-decoration: none;
    border: none;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    float: left;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow: clip;
    resize: vertical;
}

button:hover, a:hover {
    background-color: #0277BD; /* Light Blue 800 */
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

video {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.page {
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
